@{
    ViewData["Title"] = "Doctor Application";
}

@inject proekt.Services.TranslationService Loc
<h2>@Loc.T("DoctorApplication")</h2>

<form asp-action="DoctorApplication" method="post" enctype="multipart/form-data" class="mt-4">
    <div class="mb-3">
        <label for="about" class="form-label"><b>@Loc.T("TellUsMore")</b></label>
        <textarea class="form-control" id="about" name="about" rows="4" required></textarea>
    </div>
    <div class="mb-3">
        <label for="employmentContract" class="form-label"><b>@Loc.T("EmploymentContract")</b></label>
        <input class="form-control" type="file" id="employmentContract" name="employmentContract" required />
    </div>
    <div class="mb-3">
        <label for="idCard" class="form-label"><b>@Loc.T("IDCard")</b></label>
        <input class="form-control" type="file" id="idCard" name="idCard" required />
    </div>
    <div class="mb-3">
        <label for="medicalLicense" class="form-label"><b>@Loc.T("MedicalLicense")</b></label>
        <input class="form-control" type="file" id="medicalLicense" name="medicalLicense" required />
    </div>
    <button type="submit" class="btn btn-primary">@Loc.T("SubmitApplication")</button>
</form>
